body {
  background-image: url(img/bg-1.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  border: 2px solid #fff;
  width: 550px;
  height: 400px;
  margin-top: 5rem;
  margin-left: 23rem;
}

h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #231f20;
  font-size: 6rem;
}

#lower,
#add {
  padding: 0.5rem;
  width: 150px;
  color: #fff;
  background: #0e2f44;
  text-transform: uppercase;
  font-size: 1rem;
}
#lower:hover,
#add:hover {
  background: #6897bb;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
}

.btn-2 {
  width: 150px;
  height: 60px;
}
